
li {
   padding: 2px;
   background-color: #fafafa;
   border: 1px solid #eee;
   margin-bottom: 1px;
}

li.picked {
   background-color: #eee;
}

li.picked:hover {
   background-color: #eee;
}

li:hover {
   background-color: #e1fffd;
}

li.picked i[class^="icon-"] {
   visibility: hidden;
}

#master li:hover, i.icon-remove-sign {
   cursor: pointer;
}

.icon-plus-sign { color: green; }
.icon-remove-sign { color: #900; }

input[type="text"] {
   font-size: 10px;
   height: 12px;
   line-height: 12px;
   margin-bottom: 0;
}